html, body {
  width: 100%;
  height: 100%;
}

.my-container {
  width: 100%;
  height: 100%;
  text-align: center;
}

.team-group {
  margin: 0 auto;
}

.team {
  display: inline-block;
  margin: 25px 50px;
  text-align: center;

  h2 {
    display: inline-block;
    font-size: 6em;
  }

  .score {
    font-size: 10em;
    font-weight: bold;
  }

  .high-check {
    color: green;
    font-size: 0.8em;
  }
}